<% if (messages) { %>
    <div class="container">
        <% if (messages.error) { %>
            <div class="alert alert-danger show my-message" role="alert">
                <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.info) { %>
            <div class="alert alert-info show my-message" role="alert">
                <%= messages.info %>
            </div>
        <% } %>
        <% if (messages.warning) { %>
            <div class="alert alert-warning show my-message" role="alert">
                <%= messages.warning %>
            </div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success show my-message" role="alert">
                <%= messages.success %>
            </div>
        <% } %>
    </div>
<% } %>