<% if (messages.error) { %>
    <div class="message message-error show">
        <p><%= messages.error %></p>
    </div>
<% } %>
<% if (messages.info) { %>
    <div class="message message-info show">
        <p><%= messages.info %></p>
    </div>
<% } %>
<% if (messages.warning) { %>
    <div class="message message-warning show">
        <p><%= messages.warning %></p>
    </div>
<% } %>
<% if (messages.success) { %>
    <div class="message message-success show">
        <p><%= messages.success %></p>
    </div>
<% } %>
