<nav>
    <a href="/">Main page</a>
    <a href="/new_event">New Event</a>
    <a href="/events">All events</a>
    <a href="/user/login">Login</a>
    <form action='/user/logout' method='POST'>
        <button type="submit" class="btn">Wyloguj</button>
    </form>
    <a href="/user/register">Register</a>
</nav>