<div class="container mt-10">
    <div class="card-deck text-center mt-5">
      <div class="card box-shadow">
          <div class="card-header">
            <h3>Premium subscription</h3>      
          </div>
          <div class="card-body">
              <h3 class="card-title pricing-card-title mt-2">€0.99 / month</h1>
              <ul class="list-unstyled">
                  <li>Unlimited SMS reminders</li>
              </ul>
              <form action="/subscription/create-checkout-session" method="POST">
                <input type="hidden" name="lookup_key" value="premium_subscription" />
                <button id="checkout-and-portal-button" type="submit" class="btn btn-block btn-primary mb-2 w-100">Subscribe</button>
              </form>
          </div>
      </div>
    </div>
</div>
