<div class="container">
    <form action="/user/account" method="POST">
        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter a phone number">
            <small>Phone number will be used only to send SMS reminders.</small>
        </div>
    </form>
</div>