<div class="container">
    <div class="mt-2">
        <form action="/user/account" method="POST">
            <h3>Account details</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="tel" id="name" name="name" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter a phone number" value="<%=phone%>">
                <small>Phone number will be used only to send SMS reminders.</small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <div class="mt-4">
        <h3>Premium status</h3>
        <% if (isPremium) { %>
            <p>Premium account active until <%= premiumValidTo %></p>
            <form action="/subscription/create-portal-session" method="POST">
                <input type="hidden" id="session-id" name="session_id" value="" />
                <button id="checkout-and-portal-button" type="submit" class="btn btn-primary">Manage your subscription</button>
              </form>         
        <% } else { %>
            </p>Premium account inactive. <a href="/subscription">Upgrade here</a></p>
        <% } %>        
    </div>
</div>