<div class="container">
       <h2 class="">Login</h2>
    <form action="/user/login" method="POST">
        <div class="form-group mb-2">
          <label for="email">Email</label>
          <input type="email" class="form-control mt-1" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group mb-2">
          <label for="password">Password</label>
          <input type="password" class="form-control mt-1" id="password" placeholder="Enter password" name="password" required>
        </div>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <small><a href="/user/register">Don't have an account yet? Register now!</a></small>
</div>