<div class="container">
    <h2 class="mb-2">Reset password</h2>
 <form action="/user/password_reset" method="POST">
    <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" class="form-control mt-1" id="password" placeholder="Enter password" name="password" required>
      </div>
    <div class="form-group mb-2">
       <label for="password">Repeat password</label>
       <input type="password" class="form-control mt-1" id="password" placeholder="Enter password once again" name="repeat_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>