<div class="container">
    <h2 class="mt-2">Reset password</h2>
 <form action="/user/request_password_reset" method="POST">
     <div class="form-group mb-2">
       <label for="email">Enter the email for the account</label>
       <input type="email" class="form-control mt-1" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" required>
     </div>
     <button type="submit" class="btn btn-primary">Send</button>
   </form>
</div>