@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

.pricing-header {
max-width: 700px;
}

.card-deck  {
min-width: 220px;
}



.border-top {
    border-top: 1px solid #e5e5e5; 
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5; 
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}


.show {
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn .4s;
    -moz-animation: fadeIn .4s;
    -o-animation: fadeIn .4s;
    -ms-animation: fadeIn .4s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.hide {
    opacity: 0;
    transition: opacity 400ms;
}

.my-message {
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: 12px;
    position: fixed;
    z-index: 1030;
    bottom: 0;
}