<div class="container">
    <h1>
        Welcome to Never Forget It!
    </h1>
    <p>
        This is a simple website which allows you to save your events, set the reminder options and you receive a notification to never forget about the event!
        Currently, only email notification is available. This website is still in development and more features will come.
    </p>

</div>